.cart-list {
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: 50px;
  width: 100%;
}

.cart-list h1 {
  color: black;
  font-family: Epilogue , sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.cart-tile {
  align-items: center;
  border-top: 1px solid #94979d;
  display: flex;
  justify-content: stretch;
  padding: 20px;
  width: 90%;
}

.button-delete img {
  height: 13px;
  width: 13px;
}

.button-delete {
  margin: 0;
  padding: 0;
}

.button-delete:hover {
  cursor: pointer;
}

.title-product-saved {
  color: #444955;
  font-family: Epilogue , sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 23px;
  width: 100%;
}

.container-quantity {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 25%;
}

.price-product-saved {
  text-align: center;
  width: 20%;
}

.quantity-product-saved {
  align-items: center;
  background-color: #b0b3bb;
  border-radius: 15px;
  color: white;
  display: flex;
  font-family: Epilogue , sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  height: 30px;
  justify-content: center;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
  user-select: none;
  width: 30px;
}

.button-quantity {
  color: #b0b3bb;
  cursor: pointer;
  font-size: 30px;
}

.cart-list::-webkit-scrollbar {
  width: 1em;
}

.cart-list::-webkit-scrollbar-track {
  background: #ddd;
  border-radius: 35px;
  margin-block: 0.5em;
}

.cart-list::-webkit-scrollbar-thumb {
  background-color: #003be5;
  border-radius: 35px;
  height: 1em;
}

.cart-list::-webkit-scrollbar-thumb:hover {
  background-color: #305ee6;
}
