.header-search {
  align-items: center;
  background-color: #003be5;
  box-sizing: border-box;
  display: flex;
  height: 20vh;
  justify-content: space-between;
  width: 100%;
}

.logo-image {
  height: 70px;
}

.cart-link img {
  margin-right: 2vw;
}

.search-box {
  box-sizing: border-box;
  display: flex;
  justify-content: stretch;
  padding: 0 2vw;
  width: 400px;
}

.search-box input {
  width: 100%;
}

.search-box input, button {
  background-color: white;
  border: none;
  color: black;
  font-family: Epilogue , monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
  padding: 8px;
}

.search-box button {
  cursor: pointer;
}

.search-box input::placeholder {
  color: #b0b3bb;
}
