* {
  padding: 0;
}

.cart-shop {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.cart-resume {
  align-items: center;
  background-color: #ececec;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  width: 100%;
}

.back-button {
  background-color: transparent;
  border: none;
  color: #2fc18c;
  cursor: pointer;
  display: flex;
  font-family: Epilogue , monospace;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  gap: 10px;
  left: 2vh;
  line-height: 16px;
  padding: 5px;
  position: absolute;
  top: 2vh;
  z-index: 1;
}

.back-button:hover {
  left: 1.7vh;
  top: 1.7vh;
  zoom: 1.1;
}

.cart-message {
  color: #31c28d;
  font-family: Epilogue , monospace;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 0.055em;
  line-height: 31px;
  text-align: center;
  text-transform: uppercase;
}

.cart-total {
  align-items: center;
  background-color: white;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 100%;
}

.container-cart {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  justify-content: center;
  padding: 12vh 10vw;
  position: relative;
  width: 100%;
  z-index: 0;
}

.cart-total-title {
  color: black;
  font-family: Epilogue , sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.cart-total-price {
  color: black;
  font-family: Epilogue , sans-serif;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 25px;
  text-align: center;
}

.button-cart-total {
  background-color: #31c28d;
  border: none;
  color: white;
  font-family: Epilogue , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  padding: 15px;
  text-align: center;
}

.button-cart-total:hover {
  background-color: #66c09f;
  cursor: pointer;
  zoom: 1.01;
}

.button-cart-total:active {
  background-color: #31c28d;
}

@media ( min-width : 1180px ) {

  .cart-shop {
    height: 100vh;
  }

  .cart-resume {
    flex-direction: row;
    height: 80vh;
  }

  .cart-total {
    width: 50vw;
  }

  .container-cart {
    padding: 6vh 4vw;
    width: 50vw;
  }

}
