.checkout-sub-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 70%;
}

.review-products-container {
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: auto;
  padding: 50px;
  width: 50%;
}

.form-finish-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  width: 40%;
}

